In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snb
import warnings
warnings.filterwarnings("ignore")

In [3]:
from sklearn.preprocessing import (
    StandardScaler,
    LabelEncoder,
    OneHotEncoder
)
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import  train_test_split
import pickle

In [5]:
df=pd.read_csv("Churn_Modelling.csv")

In [6]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df.shape

(10000, 14)

In [8]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [224]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [9]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [10]:
df["Surname"].value_counts()

Surname
Smith        32
Scott        29
Martin       29
Walker       28
Brown        26
             ..
Hull          1
Sturdee       1
Flannagan     1
Dwyer         1
Corby         1
Name: count, Length: 2932, dtype: int64

In [11]:
df["Surname"].unique()

array(['Hargrave', 'Hill', 'Onio', ..., 'Kashiwagi', 'Aldridge',
       'Burbidge'], shape=(2932,), dtype=object)

In [12]:
df["Surname"].unique().shape

(2932,)

In [13]:
df1=df.drop(["RowNumber","CustomerId","Surname"],axis=1)

In [14]:
df.shape

(10000, 14)

In [15]:
df1.shape

(10000, 11)

In [232]:
df1.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [233]:
df["Geography"].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [234]:
df["Gender"].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [235]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [236]:
df.duplicated().sum()

np.int64(0)

In [237]:
num_features=list(df1.select_dtypes(exclude="O").columns)
col_features=list(df1.select_dtypes(include="O").columns)

In [238]:
num_features,col_features

(['CreditScore',
  'Age',
  'Tenure',
  'Balance',
  'NumOfProducts',
  'HasCrCard',
  'IsActiveMember',
  'EstimatedSalary',
  'Exited'],
 ['Geography', 'Gender'])

In [239]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [241]:
target="Exited"

In [242]:
print(type(target))
print(type(num_features))
print(type(col_features))

<class 'str'>
<class 'list'>
<class 'list'>

In [243]:
if target in num_features:
  num_features.remove(target)

if target in col_features:
  col_features.remove(target)

In [244]:
num_features,col_features

(['CreditScore',
  'Age',
  'Tenure',
  'Balance',
  'NumOfProducts',
  'HasCrCard',
  'IsActiveMember',
  'EstimatedSalary'],
 ['Geography', 'Gender'])

In [245]:
x_train,x_test,y_train,y_test=train_test_split(
    df1.drop(target,axis=1),
    df1[target],
    test_size=0.25,
    random_state=42
)

In [246]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((7500, 10), (2500, 10), (7500,), (2500,))

In [247]:
x_train.head(),y_train.head()

(      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
 4901          673    France    Male   59       0  178058.06              2
 4375          850   Germany    Male   41       8   60880.68              1
 6698          725    France  Female   31       6       0.00              1
 9805          644    France    Male   33       7  174571.36              1
 1101          703     Spain    Male   29       9       0.00              2

       HasCrCard  IsActiveMember  EstimatedSalary
 4901          0               1         21063.71
 4375          1               0         31825.84
 6698          0               0         61326.43
 9805          0               1         43943.09
 1101          1               0         50679.48  ,
 4901    1
 4375    0
 6698    0
 9805    0
 1101    0
 Name: Exited, dtype: int64)

In [248]:
preprocessor=ColumnTransformer([
    ("standard_scaler",StandardScaler(),num_features),
    ("categorical_scaler",OneHotEncoder(handle_unknown="ignore"),col_features)
])

In [249]:
x_train=preprocessor.fit_transform(x_train)
x_test=preprocessor.transform(x_test)

In [250]:
preprocessor_file_name="preprocessor.pkl"

In [251]:
with open(preprocessor_file_name,"wb") as file:
  pickle.dump(preprocessor,file)

In [252]:
files.download(preprocessor_file_name)

In [253]:
x_train_df=pd.DataFrame(x_train,columns=preprocessor.get_feature_names_out().tolist())
x_test_df=pd.DataFrame(x_test,columns=preprocessor.get_feature_names_out().tolist())

In [254]:
x_train_df.describe()

,standard_scaler__CreditScore,standard_scaler__Age,standard_scaler__Tenure,standard_scaler__Balance,standard_scaler__NumOfProducts,standard_scaler__HasCrCard,standard_scaler__IsActiveMember,standard_scaler__EstimatedSalary,categorical_scaler__Geography_France,categorical_scaler__Geography_Germany,categorical_scaler__Geography_Spain,categorical_scaler__Gender_Female,categorical_scaler__Gender_Male
count,7.500000e+03,7.500000e+03,7.500000e+03,7.500000e+03,7.500000e+03,7.500000e+03,7.500000e+03,7.500000e+03,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000
mean,-1.601090e-16,2.496373e-16,8.715991e-17,-7.437014e-17,4.736952e-17,-6.442254e-17,-2.273737e-17,2.520058e-16,0.499733,0.250267,0.250000,0.454000,0.546000
std,1.000067e+00,1.000067e+00,1.000067e+00,1.000067e+00,1.000067e+00,1.000067e+00,1.000067e+00,1.000067e+00,0.500033,0.433195,0.433042,0.497913,0.497913
min,-3.137435e+00,-1.988654e+00,-1.731689e+00,-1.221027e+00,-9.110434e-01,-1.539736e+00,-1.031152e+00,-1.747187e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-6.855292e-01,-6.551460e-01,-6.916493e-01,-1.221027e+00,-9.110434e-01,-1.539736e+00,-1.031152e+00,-8.530301e-01,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.056259e-02,-1.788933e-01,1.710287e-03,3.243009e-01,-9.110434e-01,6.494620e-01,9.697895e-01,-7.300857e-04,0.000000,0.000000,0.000000,0.000000,1.000000
75%,6.962650e-01,4.878607e-01,6.950699e-01,8.233967e-01,8.131114e-01,6.494620e-01,9.697895e-01,8.561404e-01,1.000000,1.000000,0.250000,1.000000,1.000000
max,2.057280e+00,5.059888e+00,1.735109e+00,2.796197e+00,4.261421e+00,6.494620e-01,9.697895e-01,1.725030e+00,1.000000,1.000000,1.000000,1.000000,1.000000

In [255]:
x_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 13 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   standard_scaler__CreditScore           7500 non-null   float64
 1   standard_scaler__Age                   7500 non-null   float64
 2   standard_scaler__Tenure                7500 non-null   float64
 3   standard_scaler__Balance               7500 non-null   float64
 4   standard_scaler__NumOfProducts         7500 non-null   float64
 5   standard_scaler__HasCrCard             7500 non-null   float64
 6   standard_scaler__IsActiveMember        7500 non-null   float64
 7   standard_scaler__EstimatedSalary       7500 non-null   float64
 8   categorical_scaler__Geography_France   7500 non-null   float64
 9   categorical_scaler__Geography_Germany  7500 non-null   float64
 10  categorical_scaler__Geography_Spain    7500 non-null   float64
 11  categorical_scaler__Gender_Female      7500 non-null   float64
 12  categorical_scaler__Gender_Male        7500 non-null   float64
dtypes: float64(13)
memory usage: 761.8 KB

In [256]:
train_data=pd.concat([x_train_df.reset_index(drop=True),y_train.reset_index(drop=True)],axis=1)
test_data=pd.concat([x_test_df.reset_index(drop=True),y_test.reset_index(drop=True)],axis=1)

In [257]:
train_data.shape

(7500, 14)

In [258]:
test_data.shape

(2500, 14)

In [259]:
train_data.head()

,standard_scaler__CreditScore,standard_scaler__Age,standard_scaler__Tenure,standard_scaler__Balance,standard_scaler__NumOfProducts,standard_scaler__HasCrCard,standard_scaler__IsActiveMember,standard_scaler__EstimatedSalary,categorical_scaler__Geography_France,categorical_scaler__Geography_Germany,categorical_scaler__Geography_Spain,categorical_scaler__Gender_Female,categorical_scaler__Gender_Male,Exited
0,0.218351,1.916619,-1.731689,1.629928,0.813111,-1.539736,0.969789,-1.382844,1.0,0.0,0.0,0.0,1.0,1
1,2.057280,0.202109,1.041750,-0.246244,-0.911043,0.649462,-1.031152,-1.195890,0.0,1.0,0.0,0.0,1.0,0
2,0.758602,-0.750397,0.348390,-1.221027,-0.911043,-1.539736,-1.031152,-0.683422,1.0,0.0,0.0,1.0,0.0,0
3,-0.082942,-0.559895,0.695070,1.574101,-0.911043,-1.539736,0.969789,-0.985396,1.0,0.0,0.0,0.0,1.0,0
4,0.530034,-0.940898,1.388429,-1.221027,0.813111,0.649462,-1.031152,-0.868375,0.0,0.0,1.0,0.0,1.0,0

In [260]:
df2=pd.concat([x_train_df.reset_index(drop=True),x_test_df.reset_index(drop=True)],axis=0)

In [261]:
df2.shape

(10000, 13)

In [262]:
df2.head()

,standard_scaler__CreditScore,standard_scaler__Age,standard_scaler__Tenure,standard_scaler__Balance,standard_scaler__NumOfProducts,standard_scaler__HasCrCard,standard_scaler__IsActiveMember,standard_scaler__EstimatedSalary,categorical_scaler__Geography_France,categorical_scaler__Geography_Germany,categorical_scaler__Geography_Spain,categorical_scaler__Gender_Female,categorical_scaler__Gender_Male
0,0.218351,1.916619,-1.731689,1.629928,0.813111,-1.539736,0.969789,-1.382844,1.0,0.0,0.0,0.0,1.0
1,2.057280,0.202109,1.041750,-0.246244,-0.911043,0.649462,-1.031152,-1.195890,0.0,1.0,0.0,0.0,1.0
2,0.758602,-0.750397,0.348390,-1.221027,-0.911043,-1.539736,-1.031152,-0.683422,1.0,0.0,0.0,1.0,0.0
3,-0.082942,-0.559895,0.695070,1.574101,-0.911043,-1.539736,0.969789,-0.985396,1.0,0.0,0.0,0.0,1.0
4,0.530034,-0.940898,1.388429,-1.221027,0.813111,0.649462,-1.031152,-0.868375,0.0,0.0,1.0,0.0,1.0

In [263]:
df2.columns

Index(['standard_scaler__CreditScore', 'standard_scaler__Age',
       'standard_scaler__Tenure', 'standard_scaler__Balance',
       'standard_scaler__NumOfProducts', 'standard_scaler__HasCrCard',
       'standard_scaler__IsActiveMember', 'standard_scaler__EstimatedSalary',
       'categorical_scaler__Geography_France',
       'categorical_scaler__Geography_Germany',
       'categorical_scaler__Geography_Spain',
       'categorical_scaler__Gender_Female', 'categorical_scaler__Gender_Male'],
      dtype='object')

In [264]:
test_data.head()

,standard_scaler__CreditScore,standard_scaler__Age,standard_scaler__Tenure,standard_scaler__Balance,standard_scaler__NumOfProducts,standard_scaler__HasCrCard,standard_scaler__IsActiveMember,standard_scaler__EstimatedSalary,categorical_scaler__Geography_France,categorical_scaler__Geography_Germany,categorical_scaler__Geography_Spain,categorical_scaler__Gender_Female,categorical_scaler__Gender_Male,Exited
0,-0.581635,-0.655146,-0.691649,0.327418,0.813111,-1.539736,-1.031152,-1.022827,0.0,1.0,0.0,0.0,1.0,0
1,-0.301120,0.392610,-1.385009,-1.221027,0.813111,0.649462,0.969789,0.794069,1.0,0.0,0.0,0.0,1.0,0
2,-0.529688,0.487861,-0.344970,-1.221027,0.813111,0.649462,-1.031152,-0.731457,0.0,0.0,1.0,1.0,0.0,0
3,-1.516684,1.916619,1.041750,0.686762,0.813111,0.649462,0.969789,1.216203,0.0,1.0,0.0,0.0,1.0,0
4,-0.955654,-1.131399,0.695070,0.780331,-0.911043,0.649462,0.969789,0.243229,0.0,0.0,1.0,1.0,0.0,0

In [265]:
train_file_path="train_data.csv"
test_file_path="test_data.csv"

In [266]:
train_data.to_csv(train_file_path)

In [267]:
test_data.to_csv(test_file_path)

In [268]:
files.download(train_file_path)

In [269]:
files.download(test_file_path)